* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgBanner {
  background-size: cover;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 40%;
  left: 30%;
  h2 {
    color: #ffff;
  }
  p {
    color: #fff;
  }
  .btn-tokens {
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 7px 60px;
    border-radius: 60px;
    margin: 50px 10px 0 0;
    background-color: #18d685;
  }

  .btn-paper {
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 7px 60px;
    border-radius: 60px;
    margin: 50px 10px 0 0;
    background-color: #23527c;
  }
}
