* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  color: #fff;
  border: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding: 7px 60px;
  border-radius: 60px;
  margin: 50px 10px 0 0;
  outline: none !important;
  background-color: #18d685;
  margin: 10px 0;
}
